<div class=topdivider>
</div>
  <div class=dcontent>
    <p>{{textarea value=postBody cols="48" rows="3"}}</p> 
    <p>{{txtCount}} {{characters}} remaining</p>
      <button type="submit" class="Publish-button" {{action 'publish'}}>Publish</button>
    
 </div>

 <div class=topdivider2>

  <div class=dcontent2>
    Latest posts
  </div>	
  </div>

  <div class=dcontent3>
  {{#each post in controller}}
  
  <div class=dcontent5>
  <img {{bind-attr src=post.author.profileImage}} height="40" width="40"> 
  {{post.author.name}}
  {{post.body}}
  minutes ago Delete

</div>
  {{/each}}
  </div>


