<div class=dcontent>
  {{#if isEditing}}  
    <button type="submit" class="Publish-button" {{action 'doneEditing'}}>Done</button>
  {{else}}
    <p>{{textarea value=postBody cols="80" rows="6"}}</p> 
    <p>{{txtCount}} {{characters}}</p>
    <button type="submit" class="Publish-button" {{action 'edit'}}>Publish</button>
  {{/if}}
  <!--{{#link-to "user" id activeClass="selected"}}Posts{{/link-to}} -->	
  <!--{{#link-to "user.followers" id activeClass="selected"}}followers{{/link-to}}	
  {{#link-to "user.following" id activeClass="selected"}}following{{/link-to}}-->	
</div>
<div class=dcontent2>
  Latest posts
</div>	
<div class=dcontent3>
  Pull the latest post from following, follower and my recent post
</div>
