<div class=topdivider>
</div>
  <div class=dcontent>
    <p>{{textarea value=postBody cols="48" rows="3"}}</p> 
    <p>{{txtCount}} {{characters}} remaining</p>
      <button type="submit" class="Publish-button" {{action 'publish'}}>Publish</button>
    
 </div>

 <div class=topdivider2>

  <div class=dcontent2>
    Latest posts
  </div>	
  </div>

  <div class=dcontent3>
    {{#each dcpost in controller itemController="post"}}
      <div class=dcontent5>
        <p>{{#link-to "user" dcpost.author.id activeClass="selected"}}<img {{bind-attr src=dcpost.author.profileImage}} height="40" width="40"> 
        {{dcpost.author.name}} {{/link-to}}</p>
        {{dcpost.body}}

        <p> {{dcpost.prettydate}} 
        {{#if isSelf}}
          <button type="submit" class="Remove-button" {{action 'remove' dcpost}}>Delete</button>
        {{/if}}
        </p>
      </div>
    {{/each}}

  </div>


