<div class="profile_topbar_center">
  <img src="dash-logo.png" height="42" width="125">	
  <!--{{uppercaseName}} -->
</div>

<div class="profile_content1">
  <img {{bind-attr src=profileImage}} height="70" width="70">  
  <p>{{#link-to "user" id activeClass="selected"}}{{name}}{{/link-to}}</p>
  @{{id}}
  <p><button type="submit" class="Follow-button" {action 'follow'}}>Follow</button></p>
  <!--{{uppercaseName}} -->
</div>

<div class="profile_content2">
  {{#link-to "user" activeClass="selected"}}Posts{{/link-to}}	
  {{#link-to "user.followers" activeClass="selected"}}Followers{{/link-to}}		
  {{#link-to "user.following" activeClass="selected"}}Following{{/link-to}}
  <p>{{outlet}}</p>
</div>


