<div class="profile_topbar_center">
  <img src="dash-logo.png" height="42" width="125">	

</div>
<div class="topbar_right1">
  <button type="submit" class="Logout-button" {{action "logout"}}>Logout</button>
</div>

<div class=topdivider>
</div>

<div class="profile_content1">
  {{#link-to "user" id activeClass="selected"}}<img {{bind-attr src=profileImage}} height="70" width="70">  
  <p>{{name}}{{/link-to}}</p>
  @{{id}}
  {{#if followed}}
    <p><button type="submit" class="Follow-button" {{action 'unfollow' id}}>Unfollow</button>
     {{else}}
   <p><button type="submit" class="Follow-button" {{action 'follow' id}}>Follow</button>
   {{/if}}
   
</div>

<div class="profile_content2">
  <p>
  {{#link-to "user.index" activeClass="selected"}}Posts{{/link-to}}	
  &nbsp;
  {{#link-to "user.followers" activeClass="selected"}}Followers{{/link-to}}		
  &nbsp;
  {{#link-to "user.following" activeClass="selected"}}Following{{/link-to}} 
  
</div>
<div class="profile_content3">
  {{outlet}}
</div>

